html{
	position:relative;
	min-height:100%;
	/* max-width:100%; */

}


body{
	margin:0 0 180px;
	background-image:url(../Slike/tweed5.png);
	/* max-width:800px; */
}

#baner{
	position:relative;
	height:60px;
	width:auto;
	margin-top:0;
	background-image:url(../Slike/tweed5.png);
}

#in_baner{
	width:800px;
	max-width:800px;
	height:53px;
	margin:0 auto;
	/* border:1px solid yellow; */
	/* padding:0px; */
	overflow:hidden;


}
#login{
	width:410px;
	height:53px;
	margin-top:0px;
	/* border:1px solid red; */
	float:left;
	font-size:14px;
	
	

}
#search_baner{
	
	width:345px;
	height:36px;
	  /* border:1px solid black;  */
	float:right;
	
	/* overflow:hidden; */
	padding-left:0px;
	margin-right:0px;
	padding-right:5px;
	


}
#search{
	width:352px;
	height:40px;
	/* margin:0 auto; */
	/* border:1px solid yellow; */ 
	
	/* border:1px solid black;  */
	float:right;
	margin-right:0px;
	padding-right:1px;
}

#header{
	position:relative;
	margin-top:0px;
	padding:0px;
	height:170px;
	border-top:4px solid #F7B800;
	border-bottom:4px solid #F7B800;
	background-image:url(../Slike/tweed.png);
	
}
#in_header{
	
	width:800px;
	max-width:800px;
	height:170px;
	margin:0 auto;
	
	margin-top:0px;
	padding-top:0px;
	
	
	overflow:hidden;

}
h1{
	color: white;
	font-family: "Georgia";
	font-weight:normal;

	text-shadow: 0px -1px 7px black;
	font-size:55px;
	margin-bottom:-5px;
}

h2{
	color: black;
	font-family:"Georgia";
	font-weight:normal;
	text-shadow: 0px -1px 7px white;
	

}
h3{
	color: black;
	font-family:Georgia;
	font-weight:normal;
	text-shadow: 0px -1px 7px white;
}

#navigacija{
	position:relative;
	margin:0 auto;
	display:block;
	color:black;
	font-family:Georgia;
	width:800px;
	max-width:800px;
	height:35px;
	
	/* border:1px solid green; */
}
#navigacionimeni{
	height:35px;
	
	max-width:800px;
	margin-top:0;
	margin-left:0px;
	text-align:center;
	float:left;
	list-style:none;
	 /* border:1px solid yellow;  */
}
#navigacionimeni li {
	float:left;
	margin:0px 9px;
	/* border:1px solid red; */
	
}
ul#navigacionimeni{
	width:758px;
	height:40px;
	/* border:1px solid red; */
	
}
#podmeni {
	display:none;
	margin-left:-9px;
	padding-top:5px !important;
	padding-bottom:5px !important;
	float:left;
	position:absolute;
	z-index:1;
	list-style:none;
	padding:0px;
	/* border:1px solid blue; */

}

.box{
	font-family:Georgia;
	margin:0px 0px;
	width:120px;
	font-size:12px;
	color:black;
	height:14px;
	display:block;
	padding:9px 20px;
	text-decoration:none;
	background:#F7B800;
	border-bottom:1px solid black;
	border-right:1px solid black;
	border-left:1px solid black;
}

.box:hover{
	color:white;
	cursor:pointer;
}
.box5{
	font-family:Georgia;
	margin:0px 0px;
	width:120px;
	font-size:12px;
	color:white;
	height:14px;
	display:block;
	padding:9px 20px;
	text-decoration:none;
	background:#F7B800;
	border-bottom:1px solid black;
	border-right:1px solid black;
	border-left:1px solid black;
}

.box5:hover{
	color:white;
	cursor:pointer;
}

.onama{
	color:black;
	font-family:Georgia;
	text-shadow: 0px -1px 7px white;
	line-height:22px;
	
	
}

#content{
	position:relative;
	margin-top:40px;
	margin-left:auto;
	margin-right:auto;
	height:600px;
	width:800px;
	max-width:800px;
	background-image:url(../Slike/tweed5.png);
	overflow:hidden;
	padding:0px;
	 /* border:1px solid yellow; */
	
}
#content1{
	position:relative;
	margin-top:40px;
	margin-left:auto;
	margin-right:auto;
	
	min-height:700px;
	max-height:1100px;
	width:800px;
	background-image:url(../Slike/tweed5.png);
	/* overflow:hidden; */
	
	/* border:1px solid black; */

	
	
}
#content2{
	position:relative;
	margin-top:40px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:50px;
	min-height:450px;
	max-height:500px;
	width:700px;
	background-image:url(../Slike/tweed5.png);
	/* overflow:hidden; */
	padding:15px;
	padding-top:35px;
	 border-left:1px solid black;
	 border-right:1px solid black;
	 border-bottom:1px solid black;

	
	
}
#content3{
	position:relative;
	margin-top:40px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:150px;
	height:550px;
	max-height:700px;
	width:800px;
	background-image:url(../Slike/tweed5.png);
	/* overflow:hidden; */
	
	/* border:1px solid black; */

	
	
}
#container{
	position:relative;
	overflow:hidden;
	min-height:100%;
	word-wrap:normal;
}

#footer{
	position:absolute;
	float:left;
	
	
	background:#F7B800;
	width:100%;
	height:180px;
	bottom:0px;
	border-top:1px solid black;

}
#content_footer{
	
	max-width:800px;
	height:180px;
	/* border:2px solid red; */
	margin:0 auto;
	overflow:hidden;
	color:white;
	/* padding-left:22px; */
	/* padding-right:22px; */
	/* background-image:url(../Slike/tweed1.png); */


}
#navigacija_footer{
	width:600px;
	margin:0 auto;
	list-style:none;
	height:39px;
	min-height:39px;
	max-height:40px;
	margin-top:20px;
}

#navigacionimeni_footer{
	list-style:none;
	width:550px;
	margin:0 auto;
	height:39px;
}
#navigacionimeni_footer li {
	float:left;
	margin:0px 10px;
	padding:0px;
	
	
}
.box2{
	font-family:Georgia;
	margin:auto;
	width:110px;
	font-size:15px;
	list-style:none;
	color:black;
	height:18px;
	display:block;
	padding:10px 20px;
	text-decoration:none;
	background:white;
}
.box2:hover{
	color:#F7B800;
	cursor:pointer;
}
#adresa{
	width:360px;
	height:25px;
	margin:0 auto;


}
.rights{
	float:left;
	clear:both;
	color:black;
	margin:auto;
	display:block;
	font-size:13px;
	font-family:Georgia;
}


#fejs{
	
	display:block;
	text-decoration:none;
	margin-bottom:0px;
	margin-left:285px;
	height:35px;
	width:35px;
	 /* border:1px solid red; */
	
	margin-top:41px;
	padding:0px;
	overflow:hidden;
}

#tube{
	display:block;
	text-decoration:none;
	margin-bottom:0px;
	margin-left:330px;
	height:35px;
	width:35px;
	 /* border:1px solid red; */
	
	margin-top:-36px;
	padding:0px;
	overflow:hidden;


}

#autor{
	float:left;
	display:block;
	width:280px;
	height:20px;
	/* border:1px solid blue; */
	 margin-top:-25px;
	bottom:1px;
	padding-left:2px;

}
.txtpolja{
	font-family:Arial;
	font-size:15px;
	color:white;
	background-color:black;
	opacity:0.7;
	filter:alpha(opacity=70); 
	text-align:left;
	width:480px;
	max-width:500px;
	max-height:150px;
	font-weight:normal;

}
.txtpolja1{
	font-family:"Segoe UI";
	font-size:13px;
	color:white;
	background-color:black;
	opacity:0.5;
	filter:alpha(opacity=50); 
	text-align:left;
}
.txtpolja3{
	font-family:"Segoe UI";
	color:black;
	font-size:14px;

}
/*
.txtpolja4{
	font-family:"Segoe UI";
	font-size:15px;
	color:white;
	background-color:black;
	opacity:0.7;
	filter:alpha(opacity=70); 
	text-align:center;
	width:480px;
	max-width:500px;
	max-height:150px;
	font-weight:normal;
}
.txtpolja5{
	font-family:"Segoe UI";
	font-size:13px;
	color:white;
	background-color:black;
	opacity:0.5;
	filter:alpha(opacity=50); 
	text-align:center;
}
*/
.txtpolja6{
	font-family:"Segoe UI";
	font-size:13px;
	color:white;
	background-color:black;
	opacity:0.5;
	filter:alpha(opacity=50); 
	text-align:center;
}
#marko{
	/* border:1px solid red; */
	height:45px;
	width:45px;
}

#info{
	position:relative;
	float:left;
	width:250px;
	height:290px;
	float:left;
	text-align:left;
	padding-top:20px;
	/* border:1px solid red; */
}
#info1{
	position:relative;
	top:0px;
	float:left;
	width:250px;
	height:290px;
	padding-top:0px;
	padding-left:10px;
	padding-right:10px;
}

#info p {
	color:black;
	font-family:Georgia;
	text-shadow: 0px -1px 7px white;
	line-height:2px;

}
h4{
	color:black;
	font-family:Georgia;
	text-shadow: 0px -1px 7px white;
	line-height:25px;
	font-weight:normal;
}
#tabela{
	position:relative;
	float:right;
	top:15px;
	/* padding:0px; */
	/* margin:0px; */
	height:340px;
	width:500px;
	
	/* border:1px solid yellow;  */
	/* overflow:hidden; */
	



}
#vrati {
	/* border:1px solid black; */
	display:block;
	height:25px;
	width:120px;
	text-decoration:none;
	border-left:1px solid black;
	border-right:1px solid black;
	/* background-color:red; */

}


#mapa{
	position:relative;
	float:right;
	height:300px;
	width:500px;
	padding-right:12px;
	 /* border:1px solid green; */
	top:0px;


}
#gornjideo_kontakt{
	position:relative;
	height:305px;
	max-width:100%;
	/* padding-right:5px; */
	/* border:1px solid green; */

}
#donjideo_kontakt{
	position:relative;
	height:370px;
	max-width:800px;
	/* padding-right:5px; */
	/* border:1px solid green; */

}
.p_onama{
	color:white;
	font-family:Georgia;
	text-shadow: 0px -1px 7px black;
	line-height:2px;

}
.hleb{
	display:inline-block;
	height:170px;
	width:170px;
	/* border:1px solid black; */
	

}
