body {

    background-image:url(../images/background03.png);
    
}
*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.meni
{
    background-color:white;
}

.sadrzaj
{
    margin-top:50px;
    height:1300px;
    background-image:url(../images/background05.png);
    border-radius:0px 0px 15px 15px;
    border:1px solid black;
    box-shadow:0px -20px 120px 40px black;
}

.adminSadrzaj
{
    margin-top:30px;
    height:1300px;
    
    
    /*box-shadow:0px -20px 120px 40px black;*/
}


.sadrzaj h2
{
    color:white;
    padding:5px;
    text-align:center;
    background-image:url(../images/background03.png);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:bolder;
    text-transform:uppercase;
    font-size:x-large;
    box-shadow:0px 5px 5px 2px black;
}
.poOceni
{

    height:360px;
    padding:15px;
    background-image:url(../images/background02.png);
    border:3px solid black;
    box-shadow:0px 0px 2px 2px black;
    margin:0px auto;
    
}


.prikazStavkeFilma
{
    width:250px;
    height:300px;
    padding:15px;
    margin:-10px auto;
    float:left;

}

.prikazStavkeFilma img
{
   
    border-radius:15px;
    width:250px;
    height:250px;
    box-shadow:0px 10px 15px 2px black;
    
    transition:ease-in-out 0.6s;
}

.prikazStavkeFilma img:hover
{
    transform:scale(1.03);
    
    
}

.prikazStavkeFilma h4
{
    
    box-shadow:0px -5px 5px 1px black;
    text-align:center;
    padding-bottom:2px;
    text-transform:uppercase;
    background-image:url(../images/background03.png);
    color:white;
    
    margin-top:15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:bolder;
}
.prikazStavkeFilma h5
{
     box-shadow:0px -5px 5px 1px black;
    text-align:center;
    padding-bottom:2px;
    text-transform:uppercase;
    background-image:url(../images/background03.png);
    color:rgb(255, 216, 0);
    
    font-style:italic;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:lighter;
}

.divLoginForma
{
    
    box-shadow:10px 0px 35px 1px black;
    margin:150px auto;
    border-radius:0px 15px 15px 0px;
    align-content:center;
     text-align:center;
}


.formaLogin
{
    width:300px;
    margin:30px auto;
    align-content:center;
    text-align:center;
   
}

.loginDugme{
   text-align:center;
   color:blue;
   width:100%;
   align-content:center;
   margin:70px auto;
   box-shadow:0px -2px 5px 1px gray;
}

.loginLabel
{
    padding-top:40px;
}
.loginTextBox
{
    margin-top:40px;
    
}
.loginCheckBox
{
    padding-top:30px;
}

.titlePrijavljivanje
{
    padding-top:10px;
    padding-bottom:20px;
    font-weight:bold;
    color:#647ddb;
    height:65px;
    font-size:20px;
    
    box-shadow:0px -5px 5px 1px gray;
}

.titleRegistrovanje
{
    padding-top:10px;
    padding-bottom:30px;
    font-weight:bold;
    color:#ff4949;
    width:500px;
    font-size:20px;
   
    
    height:65px;
    box-shadow:0px -5px 5px 1px gray;
}

.divRegistracijaForma
{
    box-shadow:-10px 0px 35px 1px black;
    margin:150px auto;
    border-radius:15px 0px 0px 15px;
    
    align-content:center;
     text-align:center;
}

.registracijaTabela label
{
    margin-top:20px;
}
.registracijaTextBox
{
    padding-top:20px;
}

.registracijaDugme
{
    color:#ff4949;
    margin-top:50px;
    box-shadow:0px -2px 5px 1px gray;
}

.registracijaValidacija
{
    color:red;
    padding-top:20px;
   
}

.administracijaLevo
{
   
    height:auto;
    width:100%;
    margin:0 auto;
    padding-top:15px;
    padding-bottom:15px;
    text-align:center;
    box-shadow:0px -10px 25px 5px black;
    float:left;
    background-image:url(../images/background05.png);
}

.administracijaLevo a
{
    text-decoration:none;
    color:black;
    
}


.administracijaDesno
{
    min-height:500px;
    height:auto;
    margin-top:5px;
    /*background-image:url(../images/background05.png);*/
    
    text-align:center;
    /*box-shadow:0px -1px 10px 1px black;*/
    
    
    
}
.gridViewPrikazIUpdate
{
    
    padding-bottom:50px;
    /*box-shadow:0px 0px 35px 5px black;*/
}

.slikaFilmaGridView
{
    width:150px;
    height:150px;
    text-align:center;
    
    border-radius:75px;
    box-shadow:0px 0px 15px black;
}
.ceoGridViewFilmovi
{
    margin-top:-70px;
    text-align:center;
    background-image:url(../images/background05.png);
     box-shadow:0px -10px 35px 5px black;
   
}

.ceoGridViewSlike
{
    margin-top:-70px;
    text-align:center;
    background-image:url(../images/background05.png);
    box-shadow:0px -10px 35px 5px black;
     
}


.headerGridViewFilmovi
{
    color:white;
    background-image:url(../images/background03.png);
    font-size:small;
    text-align:center;
    
    
}

.univerzalnaKlasaGridViewFilmovi
{
    color:black;
    /*border:1px dotted black;*/
    text-align:center;
    
}
.centar_levo_ostalo img{
    margin-top:50px;
}
.centar_desno_ostalo
{
    margin-top:50px;
}

.legendaUpravljanjeFilmovima
{
    background-image:url(../images/background05.png);
    padding-top:30px;
    padding-bottom:60px;
    margin-top:100px;
    box-shadow:0px -5px 15px 1px black;
    color:red;
    border-radius:25px;
    text-transform:uppercase;
    font-size:18px;
}

.legendaUpravljanjeSlikama
{
    background-image:url(../images/background05.png);
    padding-top:30px;
    padding-bottom:60px;
    margin-top:100px;
    box-shadow:0px -5px 15px 1px black;
    color:red;
    border-radius:25px;
    text-transform:uppercase;
    font-size:18px;
}


legendaUpravljanjeFilmovima1
{
    background-image:url(../images/background05.png);
    padding-top:30px;
    padding-bottom:60px;
    margin-top:50px;
    box-shadow:0px -5px 15px 1px black;
    color:red;
    border-radius:25px;
    text-transform:uppercase;
    font-size:18px;
}

.tabelaUpdateFilmova
{
    box-shadow:0px 0px 35px 5px gray;
    width:400px;
    margin:20px auto;
    color:red;
    
}

.tabelaUpdateFilmova td
{
    
    width:500px;
    margin:0 auto;
    text-align:center;
    color:black;
}

/*.legendaInsertFilma
{
    background-image:url(../images/background05.png);
    box-shadow:-15px 0px 35px 5px black;
    padding:20px;
    color:red;
}*/

.tabelaInsertFilmovi
{
    
    
    
}
.tabelaInsertFilmovi td
{
    
    
    
}
.insertFilmovi
{
    padding-top:50px;
    margin:-50px auto;
    background-image:url(../images/background05.png);
     box-shadow:0px -10px 35px 5px black;
    
    float:left;
}
.selectFilmovi
{
    /*background-image:url(../images/background05.png);*/
     color:black;
}
.tabelaInsertFilmoviHeader
{
     
     color:black;
}
.zanrTabelaZaInsert
{
     color:black;
     width:100%;
}

.tabelaZaIzmenuFilmova{
    padding-top:50px;
    margin:-70px auto;
    background-image:url(../images/background05.png);
     box-shadow:0px -10px 35px 5px black;
    
    float:left;
}

.tabelaZaIzmenuSlika
{
    padding-top:50px;
    margin:-70px auto;
    background-image:url(../images/background05.png);
     box-shadow:0px -10px 35px 5px black;
    
    float:left;
}



.kontaktDivGore
{
    margin-top:30px;
    margin-left:-30px;
}

.kontaktDivGoreLevo
{

    box-shadow:10px 0px 35px 1px black;
    margin-top:40px;
    padding-top:20px;
    padding-bottom:20px;
}

.kontaktDivGoreLevo h4
{
    box-shadow:0px -8px 15px 1px gray;
    padding-top:15px;
    padding-left:10px;
    padding-right:10px;
    padding-bottom:15px;
    color:#647ddb;
}

.kontaktDivGoreDesno
{
    padding-top:20px;
    margin-top:40px;
    right:15px;
    box-shadow:-10px 0px 35px 1px black;
    float:right;
}

.kontaktDivGoreDesno h4
{
    box-shadow:0px -8px 15px 1px gray;
    padding-top:15px;
    padding-left:10px;
    padding-right:10px;
    padding-bottom:15px;
    color:#647ddb;
}
.companyNameContact
{
    font-weight:bold;

}
.red{
    color:#ff4949;
}

.LabelNazivBioskopaITelefon
{
    
}

.adreseKontakt
{
    padding-top:30px;
}

.telefoniKontakt
{
    padding-bottom:30px;
}

.emailoviKontakt
{
    padding-top:30px;
    padding-bottom:30px;
}

.legendaKontakt
{
    
    box-shadow:0px -2px 10px 1px black;
    font-size:20px;
    color:#647ddb;
    margin-top:20px;
    margin-bottom:60px;
    padding-bottom:15px;
    padding-top:15px;
}


.kontaktDiv
{
    padding-top:20px;
    padding-bottom:20px;
    text-align:center;
    margin-top:50px;
    float:left;
    box-shadow:10px 0px 35px 1px black;
}
.tabelaKontakt
{
    margin-top:-20px;
   box-shadow:0px 8px 15px 1px gray;
}
.kontaktTabelaLevo
{
    font-weight:bold;
    text-align:left;
}

.kontaktTabelaDesno
{
    text-align:center;
}

.divGalerija
{
    width:100%;
    margin:50px auto;
    align-content:center;
    float:left;
    text-align:center;
    height:400px;
    
    padding:20px;
    box-shadow:0px -8px 15px 1px gray;
}

.divGalerija h4
{
    text-transform:uppercase;
    color:#ff4949;
}

.galerijaSvakaSlikaPonaosob
{
    margin-top:15px;
    
    
    width:175px;
    height:175px;
    
    transition:ease-out 0.6s;
    border-radius:15px;
    box-shadow:0px 10px 15px 1px gray;
}

.galerijaSvakaSlikaPonaosob:hover
{
    transition:ease-in-out 0.6s;
    transform:scale(1.1);
}

.galerijaStranicenje
{
    
    text-align:left;
    font-size:18px;
    float:left;
    padding:5px;
    margin-left:15px;
    
    height:35px;
}
.galerijaStranicenje a
{
    display:inline ;
    background-image:url(../images/background03.png);
    font-size:18px;
    text-decoration:none;
    padding-left:15px;
    padding-right:15px;
    padding-top:5px;
    padding-bottom:5px;
    text-align:center;
    align-content:center;
    margin-left:19px;
    box-shadow:0px 0px 15px 1px black;
    border:1px solid white;
    color:white;
}

.galerijaStranicenje a:hover
{
    color:white;
    text-decoration:none;

}

.lepoUredjeno
{
    margin-left:5px;
    margin-top:15px;
    text-align:center;
    padding:5px;
    float:left;
    border:1px solid white;
    height:250px;
    width:210px;
    box-shadow:0px 0px 15px 1px gray;
}

.lepoUredjeno img
{
    
}

.lepoUredjeno p
{
    
    color:#647ddb;
    
    text-transform:uppercase;
    margin-top:20px;
    padding-top:5px;
    padding-bottom:5px;
}
.lepoUredjenoGalerije
{

}
.lepoUredjenoGalerije img
{
    width:130px;
    height:130px;
    border-radius:15px;
}


.divSaGalerijama
{
    margin-top:50px;
    height:400px;
    border-radius:25px 0px 0px 25px;
    box-shadow:-10px 0px 15px 1px black;
}


.divoviZaAnkete
{
    margin:20px auto;
    width:280px;
    min-height:100px;

}