<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
      <authentication mode="Forms">
        <forms name="mojeLgovanje" loginUrl="~/Login.aspx" defaultUrl="Default.aspx" cookieless="AutoDetect" timeout="30">
        </forms>
      </authentication>

      <membership defaultProvider="MojProvajder" userIsOnlineTimeWindow="30">
        <providers>
          <clear />
          <add name="MojProvajder" type="System.Web.Security.SqlMembershipProvider"
            connectionStringName="aspLab2015Entities2" applicationName="BioskopMarko"
            enablePasswordRetrieval="false" enablePasswordReset="true"
            requiresQuestionAndAnswer="true" requiresUniqueEmail="true"
            passwordFormat="Hashed" />
        </providers>
      </membership>
      <roleManager defaultProvider="MojRoleProvajder" enabled="true" cacheRolesInCookie="true"
    cookieName=".ASPROLES"
    cookieTimeout="30"
    cookiePath="/"
    cookieRequireSSL="false"
    cookieSlidingExpiration="true"
    cookieProtection="All" >

        <providers>
          <clear />
          <add name="MojRoleProvajder" type="System.Web.Security.SqlRoleProvider"
            connectionStringName="aspLab2015Entities2" applicationName="BioskopMarko" />
        </providers>
      </roleManager>

      <siteMap defaultProvider="XmlSiteMapProvider" enabled="true">
        <providers>
          <add name="XmlSiteMapProvider" description="Default SiteMap provider." type="System.Web.XmlSiteMapProvider " siteMapFile="Web.sitemap" securityTrimmingEnabled="true"/>
        </providers>
      </siteMap>

      
      
      
      
    </system.web>
  <location path="Login.aspx">
    
    <system.web>
      <authorization>
        <allow users="?"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="administracija/Administracija.aspx">
  <system.web>
    
      <authorization>
        
        <allow roles="Administrator"/>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Logout.aspx">
    <system.web>
      <authorization>

        <allow users="admin"/>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <connectionStrings>
    <add name="aspLab2015Entities" connectionString="metadata=res://*/DataLayer.ModelStudije.csdl|res://*/DataLayer.ModelStudije.ssdl|res://*/DataLayer.ModelStudije.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(LocalDB)\v11.0;AttachDbFilename=F:\Marko\Trenutno\Documents\Visual Studio 2013\Projects\BioskopMarko\MilankovDeo\aspLab2015.mdf;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="aspLab2015Entities2" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=F:\Marko\Trenutno\Documents\Visual Studio 2013\Projects\BioskopMarko\MilankovDeo\aspLab2015.mdf;Integrated Security=True;MultipleActiveResultSets=True" />
  </connectionStrings>


  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
</configuration>
